
# Build outputs
dist/
build/
android/
ios/
.expo/
.expo-shared/

# Dependencies
node_modules/

# Cache
.cache/
*.cache

# Backend
backend/

# Config files
babel-plugins/
metro.config.js
workbox-config.js

# Public assets
public/
